html, body {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    line-height: 1.5
}

h2 {
    font-family: Roboto, sans-serif;
    font-size: 20px;
}

html {
    overflow-x: hidden
}

input[type=text]:focus input[type=password]:focus {
    border: 3px solid #555;
}

form {
    position: relative;
    width: 100%;
    border-width: 3px;
    border-color: #4287f5;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: compact;
    position: center;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    line-height: 1.2;
}


form div {
    margin: 0 0;

    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #f1f1f1;
}

div label {
    display: block;
    width: 100%;
    font-family: "Roboto Medium", sans-serif;
}

#top_line, #games_top, #statistics_top {
    margin: 0 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #f1f1f1;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #4287f5;
}

#filter_form {
    position: relative;

}

select {
    width: 100%;
    padding: 16px 10px;
    border: 2px;
    margin: 8px 0;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    line-height: 1.2;
    box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4287f5;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 4px;

}

div button {
    background-color: #4287f5;
    width: 100%;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 4px;


}

.parent {
    position: relative;
    width: 100%
}

.version_left, .version_right {
    position: absolute;
    bottom: 0;
    margin: auto;
}

.version_left {
    left: 5%;
    margin-left: -15px;
}

.version_right {
    right: 0;
}

